<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abcd</servlet-name>
        <servlet-class>Controller.abcd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListServlet</servlet-name>
        <servlet-class>AdminManagement.AccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>AdminManagement.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>AdminManagement.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>AdminManagement.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListController</servlet-name>
        <servlet-class>CustomerManagement.CustomerListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>CustomerManagement.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>CustomerManagement.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>CustomerManagement.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>CustomerManagement.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchaseController</servlet-name>
        <servlet-class>PurchaseController.AddPurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseListController</servlet-name>
        <servlet-class>PurchaseController.PurchaseListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePurchaseController</servlet-name>
        <servlet-class>PurchaseController.DeletePurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePurchaseController</servlet-name>
        <servlet-class>PurchaseController.UpdatePurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountCodeController</servlet-name>
        <servlet-class>DiscountCodeController.AddDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscountCodeController</servlet-name>
        <servlet-class>DiscountCodeController.UpdateDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountCodeController</servlet-name>
        <servlet-class>DiscountCodeController.DeleteDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountCodeListController</servlet-name>
        <servlet-class>DiscountCodeController.DiscountCodeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>ProductController.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>ProductController.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>ProductController.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>ProductController.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>ProfileManagement.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelExportServlet</servlet-name>
        <servlet-class>StatisticExport.AdminExcelExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LoginController.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopExcelExportServlet</servlet-name>
        <servlet-class>StatisticExport.ShopExcelExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abcd</servlet-name>
        <url-pattern>/abcd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListServlet</servlet-name>
        <url-pattern>/AccountListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/AddAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListController</servlet-name>
        <url-pattern>/CustomerListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/AddCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/DeleteCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/UpdateCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchaseController</servlet-name>
        <url-pattern>/AddPurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseListController</servlet-name>
        <url-pattern>/PurchaseListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePurchaseController</servlet-name>
        <url-pattern>/DeletePurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePurchaseController</servlet-name>
        <url-pattern>/UpdatePurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountCodeController</servlet-name>
        <url-pattern>/AddDiscountCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscountCodeController</servlet-name>
        <url-pattern>/UpdateDiscountCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountCodeController</servlet-name>
        <url-pattern>/DeleteDiscountCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountCodeListController</servlet-name>
        <url-pattern>/DiscountCodeListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelExportServlet</servlet-name>
        <url-pattern>/ExcelExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopExcelExportServlet</servlet-name>
        <url-pattern>/ShopExcelExportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
